<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
  bean-discovery-mode="annotated">
  <!--Jeigu noriu isjungti interceptor, uzkomentuoti sita koda-->
  <interceptors>
    <class>lt.vu.interceptors.MethodLogger</class>
  </interceptors>

  <!--Jeigu noriu pakeisti i default (NameNumberChecker) is alternative (NameSymbolChecker), uzkomentuoti-->
  <alternatives>
    <class>lt.vu.service.NameSymbolChecker</class>
  </alternatives>

  <!--Jeigu noriu isjungti decorator, uzkomentuoti sita koda-->
  <decorators>
    <class>lt.vu.decorator.PartNameCapitalizerDecorator</class>
  </decorators>
</beans>